## Combining tweets from all months, dropping columns, filtering for english only tweets

In [1]:
import pandas as pd

In [4]:
tweets1 = pd.read_csv('Data/ScrapedTweets/covidtweetsBegApr.csv')
tweets2 = pd.read_csv('Data/ScrapedTweets/covidtweetsBegFeb.csv')
tweets3 = pd.read_csv('Data/ScrapedTweets/covidtweetsBegMar.csv')
tweets4 = pd.read_csv('Data/ScrapedTweets/covidtweetsBegMay.csv')
tweets5 = pd.read_csv('Data/ScrapedTweets/covidtweetsEndApr.csv')
tweets6 = pd.read_csv('Data/ScrapedTweets/covidtweetsEndFeb.csv')
tweets7 = pd.read_csv('Data/ScrapedTweets/covidtweetsEndMar.csv')
tweets8 = pd.read_csv('Data/ScrapedTweets/covidtweetsEndMay2.csv')
tweets9 = pd.read_csv('Data/ScrapedTweets/covidtweetsEndSept.csv')
tweets10 = pd.read_csv('Data/ScrapedTweets/covidtweetsBegJun.csv')
tweets11 = pd.read_csv('Data/ScrapedTweets/covidtweetsEndJun.csv')
tweets12 = pd.read_csv('Data/ScrapedTweets/covidtweetsBegJul.csv')
tweets13 = pd.read_csv('Data/ScrapedTweets/covidtweetsEndJul.csv')
tweets14 = pd.read_csv('Data/ScrapedTweets/covidtweetsBegAug.csv')
tweets15 = pd.read_csv('Data/ScrapedTweets/covidtweetsEndAug.csv')
tweets16 = pd.read_csv('Data/ScrapedTweets/covidtweetsBegSept.csv')

In [5]:
frames = [tweets1, tweets2, tweets3, tweets4, tweets5, tweets6, tweets7, tweets8, tweets9,
         tweets10, tweets11, tweets12, tweets13, tweets14, tweets15, tweets16]
alltweets = pd.concat(frames, ignore_index=True)

In [6]:
alltweets.shape

(11029, 36)

In [8]:
len(alltweets.language.value_counts())

39

In [5]:
alltweets.thumbnail

0                                                    NaN
1        https://pbs.twimg.com/media/Ey-RsdtXMAIOjpG.jpg
2                                                    NaN
3                                                    NaN
4                                                    NaN
                              ...
11024                                                NaN
11025                                                NaN
11026                                                NaN
11027                                                NaN
11028                                                NaN
Name: thumbnail, Length: 11029, dtype: object

In [6]:
alltweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11029 entries, 0 to 11028
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               11029 non-null  int64
 1   conversation_id  11029 non-null  int64
 2   created_at       11029 non-null  object
 3   date             11029 non-null  object
 4   time             11029 non-null  object
 5   timezone         11029 non-null  int64
 6   user_id          11029 non-null  int64
 7   username         11029 non-null  object
 8   name             11026 non-null  object
 9   place            5 non-null      object
 10  tweet            11029 non-null  object
 11  language         11029 non-null  object
 12  mentions         11029 non-null  object
 13  urls             11029 non-null  object
 14  photos           11029 non-null  object
 15  replies_count    11029 non-null  int64
 16  retweets_count   11029 non-null  int64
 17  likes_count      11029 non-null  int64
 18  hashtags         11029 non-null  object
 19  cashtags         11029 non-null  object
 20  link             11029 non-null  object
 21  retweet          11029 non-null  bool
 22  quote_url        996 non-null    object
 23  video            11029 non-null  int64
 24  thumbnail        1417 non-null   object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         11029 non-null  object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 3.0+ MB

Getting rid of (15) columns:<br>
11 columns are all null or nearly so (column 'place' had 5 entries)<br>
column 'name' is redundant with username<br>
column 'timezone' has same value for all entries so is meaningless<br>
column 'thumbnail' is the avatar associated with user and is not needed<br>
column 'photos' is mostly filled with empty []

In [7]:
alltweets.video.value_counts()

0    9612
1    1417
Name: video, dtype: int64

In [8]:
alltweets.mentions.value_counts()

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                9992
[{'screen_name': 'youtube', 'name': 'youtube', 'id': '10228272'}]                                                                                                                                                                                                                                                                                                                                                                                                                                                   34
[{'screen_name': 'gatewaypundit', 'name': 'jim hoft', 'id': '19211550'}]                                                                                                                                                                                                                                                                                                                                                                                                                                             9
[{'screen_name': 'olivierveran', 'name': 'olivier véran', 'id': '600345740'}, {'screen_name': 'jeancastex', 'name': 'jean castex', 'id': '119081177'}, {'screen_name': 'cnews', 'name': 'cnews', 'id': '18396319'}, {'screen_name': 'lci', 'name': 'lci', 'id': '26110930'}, {'screen_name': 'bfmtv', 'name': 'bfmtv', 'id': '133663801'}, {'screen_name': 'larem_an', 'name': 'députés larem', 'id': '880534969650642945'}, {'screen_name': 'emmanuelmacron', 'name': 'emmanuel macron', 'id': '1976143068'}]       8
[{'screen_name': 'potus', 'name': 'president biden', 'id': '1349149096909668363'}]                                                                                                                                                                                                                                                                                                                                                                                                                                   8
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ...
[{'screen_name': 'ssalud_mx', 'name': 'salud méxico', 'id': '132225222'}, {'screen_name': 'lopezobrador_', 'name': 'andrés manuel', 'id': '82119937'}, {'screen_name': 'gobiernomx', 'name': 'gobierno de méxico', 'id': '1067218403914436608'}]                                                                                                                                                                                                                                                                     1
[{'screen_name': 'laurenboebert', 'name': 'lauren boebert', 'id': '1201670995435646976'}]                                                                                                                                                                                                                                                                                                                                                                                                                            1
[{'screen_name': 'stpatricks', 'name': "st patrick's mental health services", 'id': '246759869'}, {'screen_name': 'tiglinireland', 'name': 'tiglin', 'id': '1006642682'}]                                                                                                                                                                                                                                                                                                                                            1
[{'screen_name': 'nycgov', 'name': 'city of new york', 'id': '250884927'}, {'screen_name': 'newyorkstateag', 'name': 'ny ag james', 'id': '132496568'}, {'screen_name': 'govkathyhochul', 'name': 'kathy hochul', 'id': '2977083957'}]                                                                                                                                                                                                                                                                               1
[{'screen_name': 'eruizescudero', 'name': 'enrique ruiz escudero', 'id': '209171395'}]                                                                                                                                                                                                                                                                                                                                                                                                                               1
Name: mentions, Length: 669, dtype: int64

In [9]:
alltweets.urls.value_counts()

[]                                                                                                                                                                                7819
['https://michaelgchandler34blog.wordpress.com']                                                                                                                                    25
['https://michaelgchandler34blog.wordpress.com/']                                                                                                                                   19
['https://twitter.com/i/events/1442556695645802498']                                                                                                                                12
['https://www.gov.uk/government/publications/proposal-for-mandatory-covid-certification-in-a-plan-b-scenario/proposal-for-mandatory-covid-certification-in-a-plan-b-scenario']       9
                                                                                                                                                                                  ...
['https://bit.ly/3m1ONyZ']                                                                                                                                                           1
['https://petition.parliament.uk/petitions/596452']                                                                                                                                  1
['https://portaldozacarias.com.br/site/noticia/joe-biden-recebe-dose-de-reforao-de-vacina-contra-a-covid-19-nos-eua/']                                                               1
['https://twitter.com/alsjane_therapy/status/1442052134611177476?s=21']                                                                                                              1
['https://jornalempauta.com.br/58-dos-leitos-de-covid-serao-cortados-em-braganca-paulista/']                                                                                         1
Name: urls, Length: 2320, dtype: int64

In [10]:
alltweets.video.value_counts()

0    9612
1    1417
Name: video, dtype: int64

In [11]:
columns = ['near', 'geo', 'source', 'user_rt_id', 'user_rt', 'retweet_id', 'retweet_date', 
          'translate', 'trans_src', 'trans_dest', 'thumbnail', 'place', 'name',
          'timezone', 'photos']

alltweets.drop(columns, axis=1, inplace=True)

In [12]:
alltweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11029 entries, 0 to 11028
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               11029 non-null  int64
 1   conversation_id  11029 non-null  int64
 2   created_at       11029 non-null  object
 3   date             11029 non-null  object
 4   time             11029 non-null  object
 5   user_id          11029 non-null  int64
 6   username         11029 non-null  object
 7   tweet            11029 non-null  object
 8   language         11029 non-null  object
 9   mentions         11029 non-null  object
 10  urls             11029 non-null  object
 11  replies_count    11029 non-null  int64
 12  retweets_count   11029 non-null  int64
 13  likes_count      11029 non-null  int64
 14  hashtags         11029 non-null  object
 15  cashtags         11029 non-null  object
 16  link             11029 non-null  object
 17  retweet          11029 non-null  bool
 18  quote_url        996 non-null    object
 19  video            11029 non-null  int64
 20  reply_to         11029 non-null  object
dtypes: bool(1), int64(7), object(13)
memory usage: 1.7+ MB

In [13]:
alltweets.head()

,id,conversation_id,created_at,date,time,user_id,username,tweet,language,mentions,...,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,reply_to
0,1382483808239374336,1381622686548385792,2021-04-14 18:59:59 CDT,2021-04-14,18:59:59,1373667420523655182,rocket654321,@milamesmo Porque vc toma? Ouvi falar que toma...,pt,[],...,1,0,0,[],[],https://twitter.com/rocket654321/status/138248...,False,NaN,0,"[{'screen_name': 'milamesmo', 'name': 'Mila', ..."
1,1382483806607802370,1382483806607802370,2021-04-14 18:59:59 CDT,2021-04-14,18:59:59,147589125,diariotalcual,Tribunal imputó a cuatro personas por revender...,es,[],...,1,0,2,"['talcual', 'claroyraspao', 'justoynecesario']",[],https://twitter.com/DiarioTalCual/status/13824...,False,NaN,1,[]
2,1382483805206896643,1382483417141497858,2021-04-14 18:59:59 CDT,2021-04-14,18:59:59,176432118,drapestania,@WandaMalbec2016 Qué pedazo de soretes nos gob...,es,[],...,0,0,1,[],[],https://twitter.com/DraPestania/status/1382483...,False,NaN,0,"[{'screen_name': 'WandaMalbec2016', 'name': 'W..."
3,1382483803592085505,1382483803592085505,2021-04-14 18:59:58 CDT,2021-04-14,18:59:58,163983794,sonyworlds,De 9 a 19 hs es la nueva hora activa? wtf ? S...,es,[],...,0,0,0,"['nuevasrestricciones', 'covid19']",[],https://twitter.com/Sonyworlds/status/13824838...,False,NaN,0,[]
4,1382483803554385925,1382472677206687746,2021-04-14 18:59:58 CDT,2021-04-14,18:59:58,503541916,johnmaddox,@rosensteindave @Dollarlogic It's like modern ...,en,[],...,1,0,0,[],[],https://twitter.com/johnmaddox/status/13824838...,False,NaN,0,"[{'screen_name': 'rosensteindave', 'name': 'Da..."

In [15]:
engtweets = alltweets.loc[alltweets.language == 'en']
engtweets.shape

(7638, 21)

In [16]:
engtweets.drop('language', axis=True, inplace=True)

/home/jojo/.local/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
alltweets.to_csv('alltweets.csv', index=False)

In [18]:
engtweets.to_csv('engtweets.csv', index=False)

In [19]:
engtweets.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'user_id',
       'username', 'tweet', 'mentions', 'urls', 'replies_count',
       'retweets_count', 'likes_count', 'hashtags', 'cashtags', 'link',
       'retweet', 'quote_url', 'video', 'reply_to'],
      dtype='object')