## Zenodo COVID Fake News Dataset
### Dataset published 11/2020 - headlines are from 02/2020 - 11/2020???
#### Has headline and binary column outcome (0=true news, 1=fake)

In [4]:
import pandas as pd

In [5]:
misinfo = pd.read_csv('~/Documents/Flatiron/Phase_5/Data/Datasets/COVID Fake News Data.csv')

In [6]:
misinfo

                                               headlines  outcome
0      A post claims compulsory vacination violates t...        0
1      A photo claims that this person is a doctor wh...        0
2      Post about a video claims that it is a protest...        0
3      All deaths by respiratory failure and pneumoni...        0
4      The dean of the College of Biologists of Euska...        0
...                                                  ...      ...
10196  A Chinese market caused the new coronavirus (v...        0
10197  The peak of the new coronavirus will happen in...        0
10198  Stores and supermarkets in Veracruz (Mexico) w...        0
10199  A chain message circulated on Tuesday, Jan. 14...        0
10200  Photo shows Muslims in Tamil Nadu state of Ind...        0

[10201 rows x 2 columns]

In [7]:
misinfo.outcome.value_counts()

0    9727
1     474
Name: outcome, dtype: int64

In [8]:
misinfo.rename(columns={'headlines':'headline', 'outcome':'real_or_fake'}, inplace=True)

In [9]:
misinfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10201 entries, 0 to 10200
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   headline      10201 non-null  object
 1   real_or_fake  10201 non-null  int64
dtypes: int64(1), object(1)
memory usage: 159.5+ KB

In [11]:
misinfo.to_csv('Zenodoheadlines.csv', index=False)